* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-nav {
  font-family: "Markazi Text", serif;
}
.main-nav {
  margin-top: 1rem;
  font-size: 2rem;
  display: none;
}
.main-nav menu {
  display: flex;
  justify-content: center;
  text-align: center;
}

.navLink {
  text-decoration: none;
  margin-right: 20px;
}
.navLink:hover {
  color: #f4ce14;
}

.main-nav .logo-anchor:hover {
  border-bottom: none;
}
.container {
  height: 75vh;
}

.left {
  display: flex;
}
.hero-section {
  background-color: #495e57;
  height: 400px;
  color: #fff;
}

.header-left {
  margin-left: 4rem;
  padding-top: 5rem;
}
.home-description {
  width: 350px;
  margin-bottom: 6rem;
  margin-top: 2rem;
}

.reserve-btn,
.online-menu-btn {
  height: 150px;
  background-color: #f4ce14;
  border-radius: 20px;
  padding: 15px 35px;
  text-decoration: none;
  font-weight: 800;
  font-size: 1.5rem;
  border: 1px solid black;
}

.online-menu-btn {
  border: none;
  font-size: 1rem;
  height: 50px;
}
.right {
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
}
.bruchetta {
  height: 400px;
  width: 400px;
  border-radius: 25px;
  margin-right: 120px;
  margin-top: -20rem;
}
.title {
  color: #f4ce14;
}
.chicago {
  font-weight: bold;
}

/* restaurant special section */
.header-special {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.week-special-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 3rem;
  gap: 10px;
}
.week-special-container img,
p {
  width: 300px;
  margin-bottom: 15px;
}

.week-special-container img {
  border-radius: 15px 15px 0 0;
  margin-bottom: 15px;
}
.week-special-container h2 {
  margin-bottom: 15px;
}

.greek-salad,
.bruchetta-weekly-section,
.lemon-dessert {
  background-color: #edefee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bruchetta-special {
  height: 250px;
}
.price {
  color: #ee9972;
}

footer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  margin-top: 3rem;
}
a:visited {
  color: #000;
}
.footer-logo {
  width: 70px;
  margin-right: -150px;
}

.footer-link {
  text-decoration: none;
  display: flex;
}
.footer-link:visited {
  color: #000;
}
.footer-link:hover {
  color: #f4ce14;
}
.contact,
.social-media {
  list-style-type: none;
}
.contact li {
  margin-bottom: 1rem;
}
.contact li a {
  text-decoration: none;
}
.contact li a:visited {
  color: #000;
}
.social-media li a:visited {
  color: #000;
}

div .social-media {
  display: flex;
  gap: 1rem;
}

/* testimonial styling */
.review-box img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
.fa-solid {
  color: #f4ce14;
}

.testimonials-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
margin-top: 4rem;
}
.testimonial-title {
  text-align: center;
}
.review-box {
  text-align: center;
  margin: 0 auto;
}
/* mobile nav styling */
.mobile-nav li a:hover {
  border-bottom: 3px solid #f4ce14;
}

.mobile-nav .show {
  transform: translateX(-30px);
  margin-top: 0;
}

/* media query */

@media (min-width: 920px) {
  .mobile-nav {
    display: none;
  }

  .mobile-nav .menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #f2f2f2;
    width: 35%;
    height: 100%;
    opacity: 0.9;
    transform: translateX(-600px);
    border: 1px solid #ccc;
    padding: 30px;
    transition: transform 0.6s ease-in-out;
  }
  .main-nav {
    display: block;
  }
}

@media (max-width: 920px) {
  .container {
    height: 100%;
  }
  .header-special {
    height: 60vh;
  }
  .bruchetta {
    margin-right: 1rem;
  }
  .week-special-container {
    margin-top: 0;
  }

  .footer-logo {
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .bruchetta {
    height: 150px;
    width: 150px;
    margin-right: 10px;
  }
  .header-left {
    margin-left: 2rem;
    padding-top: 1rem;
  }
  .home-description {
    width: 200px;
    margin-bottom: 6rem;
    /* margin-top: 2rem; */
  }
  .container {
    height: auto;
  }
  .header-special {
    padding: 20px 20px 0;
    flex-direction: column;
    gap: 2rem;
  }
  .week-special-container {
    grid-template-columns: 1fr;
  }
  footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 300px;
    text-align: center;
    margin: 20px auto;
  }
  .footer-logo {
    margin: auto;
  }
  footer div {
    margin: auto;
  }
  div .social-media {
    gap: 1rem;
  }
}
